@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
} 

:root {
    --cor0: #000000;
    --cor1: #020426;
    --cor2: #030640;
    --cor3: #F2A30F;
    --cor4: #F29D35;
    --cor5: #F2B807;
    --cor6: #F2F2F2;

    

--fonte-padrão: arial, verdana, helvetica, sans-serif;
--fonte-destaque:;
--fonte-uniendo: ;
}



header{
    background-color: var(--cor0);
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display:flex;
    justify-content: space-between;
    padding: 0.2rem 6rem;
    position: relative;
}

.logo{
    max-width: 100px;
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 0.7rem;
    color: white;
    font-weight: 500 ;
}
.nav-item >a:hover{
    color: rgb(216, 164, 9);
}

.mobile-menu-icon{
    display: none;

}
.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar{padding: 1.5rem 4rem;}
    .nav-item{ display: none;}
    .mobile-menu-icon{display: block;}
}

.mobile-menu-icon button{
    background-color: transparent;
border: none;
cursor: pointer;
}

.mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item{
    display: block;
    padding: 1rem 2rem ;
}
.mobile-menu .login-button{
    display: block;
    padding: 1rem 2rem;
}

.icon{
    max-width: 30px;
    margin: 30px;

}

.mobile-menu .login-button button{
    width: 100%;
}

.ulbar li a{
    background-color: var(--cor0);
    text-decoration: none;
    color: white;
display: inline-block;
margin-top: 5px;
    padding: 10px 30px;
    font-size: 0.7rem;
    margin: auto;  
}


.ulbar{
    background-color: var(--cor0);
    max-width: 180PX;
    text-align: center;
    margin-left: -28px;

}

.ampm li a {

    background-color: var(--cor0);
    text-decoration: none;
    color: white;
display: inline-block;
margin-top: 5px;
margin-bottom: 5px;
    padding: 13px 30px;
    font-size: 0.7rem;
    margin: auto;    
   
}



.ampm {
    background-color: var(--cor0);
    max-width: 180PX;
    text-align: center;
    margin-left: -70px;
}


.ulbar li a:hover{color: rgb(216, 164, 9);
}

.ampm li a:hover{color: rgb(216, 164, 9);

}


 .nav-list ul ul{
    display: none;
    position: absolute;
    
}
.nav-list ul ul {
    height: 100px;
    
}

.nav-list ul li:hover ul {
    display: block;

    
}


main{
    height: 600PX;
    
   
}

main > p{
    display: block;
    font-size: 40px;
    text-align: center;
    color: var(--cor6);
    font-weight: 400;
    font-style: italic;
    padding: 500px;
   


}

main#principal{

    background-image: url('../img/lampara.jpg');
    background-position: center center;
    background-size: 1920px;
    background-repeat: no-repeat;
}

footer{
    background-image: linear-gradient(to bottom, var(--cor0) 80%, var(--cor4) );
    height: 280px;

    text-align: left;
    padding: 30px 20px;
    margin: 0; 
   
}

.footer1  a{
    font-weight: 700;
   

}

.footerbar{
    padding: 5px;
    margin: 0;
    list-style: none;
}

.footerbar li a{
    font-weight: 400;
    padding: -0.1rem;
    font-size: 0.7rem;
    
}

.footerbar li a:hover{
    color: #F2A30F;
}

.footerbar li .footerpro{
    color: #F2A30F;
}


.footer-div li ul{
    padding: 20px 
}

.footer-div{
        display:inline-block;
        justify-content: space-between;
        padding: 0rem 10rem;
        position: relative;

}

.footerbar li a {
    text-decoration: none;
    color: var(--cor6);
    display: inline-block;
    padding-left: 0px;
    margin-bottom: 5px;
}

.footer-div li a{
    text-decoration: none;
    list-style: none;
    color: var(--cor6);
   
}


footer .footer-p{
    position: relative;
    color:var(--cor6);
    text-align: center;
    padding-top: 15px;
    font-size: 0.8rem;;
    
}

.imgpng{
    max-width: 50px;
    padding-left: 4px;
    padding-top: 5px;
}
